{% extends 'uniqueref/base_uniqueref.html' %}
{% block title %}Gene Finder{% endblock %}
{% block base_content %}
    <h1> Gene Finder </h1>
    <form action="/uniqueref/opengenefinder/" method="get">
		<hr>
		<table>
		    <tr>
		        <td rowspan="9",width="10%"></td>
		        <td width="15%">Select screen(s)</td>
                <td colspan="2",width="50%">{{ filter.genes.label_tag }}</td>

                <td rowspan="9",width="10%"></td>
            </tr>
            <tr>
                <td width="15%", rowspan="8">{{ filter.screens }}</div></div></td>
                <td colspan="2",width="65%">{{ filter.genes }}<p></td>

            </tr>
            <tr>
            <tr>

            </tr>
            <tr>
                <td width="15%">{{ filter.pvalue.label_tag }} </td>

            </tr>
                <td width="15%">{{ filter.pvalue }}</td>
            </tr>
            <tr>
                <td width="15%"></td>
                <td width="15%"></td>
            </tr>
            <tr>
                 <td width="15%">{{ filter.plot_width.label_tag }}</td>
                 <td width="15%"></td>
             </tr>
             <tr>
                <td width="15%"> {{ filter.plot_width }} </td>
                <td></td>
            </tr>
        </table>
        <hr>
        <input type="submit" value="Submit" />
        </form>
    <table>
        <tr>
            <td>{{error|safe}}{{the_script|safe}}{{the_div|safe}}<td>
        </tr>
        <tr>
            <td>{{data | safe}}</td>
        </tr>
    </table>
{% endblock %}

